
@keyframes drop{
  0% {top:0px;}
  100% {top:200px;}
}

body{
  font-family: 'Press Start 2P', cursive;
}

#splash{
  color:white;
  text-align:center;
  position: relative;
  top: 150px;
}
#splash a{
  color:white;
  text-decoration: none;
}
input[type=text]{
  font-family: 'Press Start 2P', cursive;
  color:white;
  border:2px solid white;
  background-color: black;
  font-size: 1em;
}
input[type=button]{
  font-family: 'Press Start 2P', cursive;
  color:white;
  border:2px solid white;
  background-color: black;
  font-size: 1em;
  padding: 5px;
}

/*gotta keep things secret until people click in */
.invis {
  display:none;
}

.blur {
  -webkit-filter: url("#blur");
  filter: url("./index.html#blur");
}

@keyframes blur-x{
  0% {filter: url("#blur");}
  50% {filter: url("#blurx5");}
  100% {filter: url("#blurx5");}
}

.blurx{
  animation: blur-x ;
  animation-duration:.1s
}

@keyframes blur-o{
  0% {filter: url("#blur");}
  50% {filter: url("#bluro5");}
  100% {filter: url("#bluro5");}
}

.bluro{
  animation: blur-o ;
  animation-duration:.05s
}

.unblurx{
  animation: blur-x ;
  animation-duration: .05s ;
  animation-direction: reverse;
}

@keyframes blackout{
  0% {filter: url("#blur");}
  10% {filter: url("#blurout");}
  50% {background: black;}
  100% {background: black;}
}

.blackout {
  animation: blackout;
  animation-duration: .3s;
}

/*the bread and butter of this hot nonsense*/
#moe{
    background-color: black;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    /*background-image: url('./assets/img/0.png');*/
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    margin: auto;
}
.transp{
  -webkit-filter: opacity(.5);
  filter: opacity(.5);
}
img {
    width:1280px;
    height: 720px;
    object-fit: none;
    object-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: color-burn;
    z-index: -1
}

#ticker{
  font-size: 1em;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
}
#loading{
  font-size: 4em;
  text-align:center;
  color: white;
  position: relative;
  top: 150px;
}

/*beats comin off the ticker will fall down and vanish*/
#beatDrop{
  font-size: 4em;
  text-align:center;
  color: white;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .1s, opacity .1s linear;
}
.snap
{
  opacity: 100%;
}
.drop {
  animation-name: drop;
  animation-duration: .1s;
}

/*bottom interface settings*/
.bottom{
  color:black;
  font-size: .75em;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: 0;
}
.bottom a{
  color: black;
  text-decoration: none;
}
.bottom a:hover{
  color: white;
}
.bottom a:active{
  color: white;
}


/*hud settings*/
#hud{
  width:225px;
  left: 0;
}
#hud ul{
  list-style-type: none;
  padding:0;
}

/*menu settings*/
#menu {
  width:280px;
  right: 0;
  text-align: right;
}
#menu ul{
  list-style-type: none;
  text-align: right;
}
#menu li{
  color:black;
  text-align: right;
}
#menu .header{
  font-size: 1.5em;
}
.bottom .highlight a{
  color:white;
}
