body {
    background-color: black;
    background-blend-mode: color-burn;
    background-image: url('./assets/img/0.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
img {
    width: 100%;
    opacity: .8;
    mix-blend-mode: color-burn;
}
#ticker{
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin:auto;
  color:#222;

}
/* loading controls */
#isItLoaded {
    display: none;
  }
#loading {
z-index: 10;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 90vh;
}
